.navbar {
	background: #fff;
	padding-top: 0;
	padding-bottom: 0;
	box-shadow: 1px 3px 4px 0 #adadad33;
}

.navbar-light .navbar-brand {
	color: #2196f3;
}

.navbar-light .navbar-nav .nav-link {
	color: #1ebdc2;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
	color: #1ebdc2;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}

.navbar-light .navbar-nav .nav-link {
	padding-top: 22px;
	padding-bottom: 22px;
	transition: 0.3s;
	padding-left: 24px;
	padding-right: 24px;
	font-size: 14px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	background: #1ebdc2;
	transition: 0.3s;
}

.dropdown-item:focus,
.dropdown-item:hover {
	color: #fff;
	text-decoration: none;
	background-color: #1ebdc2 !important;
}

.sm-menu {
	border-radius: 0px;
	border: 0px;
	top: 97%;
	box-shadow: rgba(173, 173, 173, 0.2) 1px 3px 4px 0px;
}

.dropdown-item {
	color: #3c3c3c;
	font-size: 14px;
}

.dropdown-item.active,
.dropdown-item:active {
	color: #fff;
	text-decoration: none;
	background-color: #2196f3;
}

.navbar-toggler {
	outline: none !important;
}

.navbar-tog {
	color: #1ebdc2;
}

/* Inicio del estilo del Slider */
.contenedor-slider {
	margin-top: 20px;
	margin-bottom: 10px;
	margin: auto;
	width: 75%;
	max-width: 1140px;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 0 5px #fff, 0 10px 20px;
}

.slider {
	display: flex;
	width: 400%;
}

.slider__section {
	width: 100%;
}

.slider__img {
	display: block;
	width: 1140px;
	height: 450px;
}

.btn-prev,
.btn-next {
	width: 40px;
	height: 40px;
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	line-height: 40px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	border-radius: 50%;
	font-family: monospace;
	cursor: pointer;
}

.btn-prev:hover,
.btn-next:hover {
	background: #2196f3;
}

.btn-prev {
	left: 10px;
}

.btn-next {
	right: 10px;
}
/* Seccion del final  */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css');

.bg-dark {
	background-color: #343a40 !important;
}
.social-icons {
	margin: 0;
	padding: 0;
	font-size: 10px;
}

.social {
	margin: 7px 7px 7px 0px;
	color: #232323;
}

#social-fb:hover {
	color: #3b5998;
	transition: all 0.25s;
}

#social-tw:hover {
	color: #4099ff;
	transition: all 0.25s;
}

#social-gm:hover {
	color: #d34836;
	transition: all 0.25s;
}

#social-ig:hover {
	color: #833ab4;
	transition: all 0.25s;
}

/* Site Heading */
.site-heading h3 {
	font-size: 40px;
	margin-bottom: 15px;
	font-weight: 600;
}

.border {
	background: #e1e1e1;
	height: 1px;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 45px;
}

.paddingTB60 {
	padding-top: 60px;
	padding-bottom: 60px;
}

.image-aboutus-banner {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url('https://static.websguru.com.ar/var/m_d/d9/d98/63028/930863-banner.w1900.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	color: #fff;
	padding-top: 110px;
	padding-bottom: 110px;
}

.lg-text {
	font-size: 52px;
	font-weight: 600;
	text-transform: none;
	color: #fff;
}

.image-aboutus-para {
	color: #fff;
}

/* font CSS */
body {
	font-family: 'Roboto';
	line-height: 24px;
	letter-spacing: 0.5px;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
}

h1 {
	font-size: 35px;
	line-height: 40px;
	letter-spacing: 0px;
	font-weight: 600;
	color: #000;
}

h3 {
	line-height: 26px;
	font-size: 20px;
	letter-spacing: 0px;
	font-weight: 600;
	font-style: normal;
	color: #000;
}

p {
	font-weight: 400;
	font-style: normal;
	color: #494949;
}

a {
	color: #494949;
}

i {
	font-style: normal;
	font-size: 42px;
	text-align: center;
	line-height: 64px;
}
body {
	margin-top: 20px;
}

h3 {
	font-size: 16px;
}

.text-navy {
	color: #1ab394;
}

.cart-product-imitation {
	text-align: center;
	padding-top: 30px;
	height: 80px;
	width: 80px;
	background-color: #f8f8f9;
}

.product-imitation.xl {
	padding: 120px 0;
}

.product-desc {
	padding: 20px;
	position: relative;
}

.ecommerce .tag-list {
	padding: 0;
}

.ecommerce .fa-star {
	color: #d1dade;
}

.ecommerce .fa-star.active {
	color: #f8ac59;
}

.ecommerce .note-editor {
	border: 1px solid #e7eaec;
}

table.shoping-cart-table {
	margin-bottom: 0;
}

table.shoping-cart-table tr td {
	border: none;
	text-align: right;
}

table.shoping-cart-table tr td.desc,
table.shoping-cart-table tr td:first-child {
	text-align: left;
}

table.shoping-cart-table tr td:last-child {
	width: 80px;
}

.ibox {
	clear: both;
	margin-bottom: 25px;
	margin-top: 0;
	padding: 0;
}

.ibox.collapsed .ibox-content {
	display: none;
}

.ibox:after,
.ibox:before {
	display: table;
}

.ibox-title {
	background-color: #ffffff;
	border-color: #e7eaec;
	border-image: none;
	border-style: solid solid none;
	border-width: 3px 0 0;
	color: inherit;
	margin-bottom: 0;
	padding: 14px 15px 7px;
	min-height: 48px;
}

.ibox-content {
	background-color: #ffffff;
	color: inherit;
	padding: 15px 20px 20px 20px;
	border-color: #e7eaec;
	border-image: none;
	border-style: solid solid none;
	border-width: 1px 0;
}

.ibox-footer {
	color: inherit;
	border-top: 1px solid #e7eaec;
	font-size: 90%;
	background: #ffffff;
	padding: 10px 15px;
}
/* Inicio del estilo de la venta del producto */

.add_to_cart_block .price {
	color: black;
	text-align: center;
	font-weight: bold;
	font-size: 200%;
	margin-bottom: 0;
}

.product_rassurance {
	padding: 10px;
	margin-top: 15px;
	background: #ffffff;
	border: 1px solid #6c757d;
	color: #6c757d;
}
.product_rassurance .list-inline {
	margin-bottom: 0;
	text-transform: uppercase;
	text-align: center;
}
.product_rassurance .list-inline li:hover {
	color: #343a40;
}

.body {
	padding-top: 4.2rem;
	padding-bottom: 4.2rem;
	background: rgba(0, 0, 0, 0.76);
}
.myform {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	padding: 1rem;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 1.1rem;
	outline: 0;
	max-width: 500px;
}
.tx-tfm {
	text-transform: uppercase;
}
.mybtn {
	border-radius: 50px;
}

.login-or {
	position: relative;
	color: #aaa;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.span-or {
	display: block;
	position: absolute;
	left: 50%;
	top: -2px;
	margin-left: -25px;
	background-color: #fff;
	width: 50px;
	text-align: center;
}
.hr-or {
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

form .error {
	color: #ff0000;
}